services:
  mysql8:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
    # 配置数据库密码
      - MYSQL_ROOT_PASSWORD=root
    volumes:
    # 映射初始化脚本
      - ./script/mysql:/docker-entrypoint-initdb.d/
    ports:
      - "13306:3306"
  redis:
    image: redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"